@font-face {
  font-family: "iconfont"; /* Project id 4135781 */
  src: url('iconfont.woff2?t=1688036677456') format('woff2'),
       url('iconfont.woff?t=1688036677456') format('woff'),
       url('iconfont.ttf?t=1688036677456') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuan:before {
  content: "\e60b";
}

.icon-wode:before {
  content: "\e635";
}

.icon-xiaoxi:before {
  content: "\e612";
}

.icon-dongtai:before {
  content: "\e601";
}

.icon-huiyuan:before {
  content: "\e79c";
}

.icon-mihome_select:before {
  content: "\e603";
}

.icon-guolv:before {
  content: "\e7e9";
}

