#app {
  width: 100vw;
  .content {
    position: relative;
    .drop-down {
      @include wh(100%, auto);
      @include pos(absolute, 0, auto, auto, auto);
      transform: translateY(-100%);
      overflow: hidden;
      font-size: 30px;
      text-align: center;
    }
    .pull-up {
      @include wh(100%, auto);
      @include fj(center, row, center);
      //@include pos(absolute, auto, auto, 0, auto);
      overflow: hidden;
      font-size: 30px;
    }
    .down-text, .up-text {
      margin-left: 20px;
    }

  }
}
